* {
    margin: 0;
    padding: 0;
}

html {
    border: ridge 20px;
    height: 100%;
    width: 100%;
    background-image: url("img/joe.gif");
}

body {
    text-align: center;
}

#content {
    background-color: rgba(19, 44, 83, 0.8);
    border: ridge 10px;
    width: 80%;
    margin: 20px auto;
    text-align: center;
}

h1 {
    -webkit-text-stroke-width: 5px;
    -webkit-text-stroke-color: rgb(7, 5, 5);
    color: yellow;
    font-size: 100px;
    text-shadow: 10px 10px 10px rgb(16, 197, 16);
    margin: 20px 0;
}

img {
    margin: 20px 0;
}

