* {
    margin: 0;
    padding: 0;

}

html {
    height: 100%;
    width: 100%;
    background-image: url("img/space-joe.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
}

body {
    text-align: center;
    /* border: ridge 10px; */
}

#content {
    background-color: rgba(19, 43, 83, 0.37);
    width: 80%;
    margin: 20px auto;
    text-align: center;
    border: ridge 10px;
    display: flex;
    flex-direction: column;
}

h1 {
    -webkit-text-stroke-width: 5px;
    -webkit-text-stroke-color: rgb(7, 5, 5);
    color: yellow;
    font-size: 8rem;
    text-shadow: 10px 10px 10px rgb(16, 197, 16);
    margin: 20px 0;
    font-family: xfiles;
    /* -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: rgb(245, 226, 226); */
}

img {
    margin: 20px 0;
}

h2 {
    color: rgb(0, 183, 255);
}

@media screen and (max-width: 600px) {
    h1 {
        font-size: 3rem;
    }
}

@font-face {
    font-family: xfiles;
    src: url(./font/x-files.ttf);
}